* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f4f4f4;  
}
#tabs .tab {
  /*margin-top: calc(5px + (20 - 5) * ((100vw - 360px) / (1600 - 360))); */ 
  background-color: #C6C6C6;
  border-radius: 15px 15px 0 0;
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: calc(5px + (15 - 5) * ((100vw - 360px) / (1600 - 360)));
  padding-right: calc(5px + (15 - 5) * ((100vw - 360px) / (1600 - 360)));
  cursor: pointer;
  position: relative;
  z-index: 5;
  font-family: Sans-serif; 
  font-size: calc(12px + (24 - 12) * ((100vw - 360px) / (1600 - 360)));  
}
#tabs .whiteborder {
  border: 2px solid #E9E9E9;
  border-bottom: 2px solid #C6C6C6;
  border-radius: 15px 15px 0 0;
}
p {
  font-family: Sans-serif; 
  font-size: calc(16px + (24 - 16) * ((100vw - 360px) / (1600 - 360)));
}
.container { 
  background-color: #BDD9ED;
  text-align: center;
  margin: auto;
}
.title {
  padding-top: calc(20px + (40 - 20) * ((100vw - 360px) / (1600 - 360))); 
  padding-bottom: calc(5px + (30 - 5) * ((100vw - 360px) / (1600 - 360))); 
  font-size: calc(30px + (40 - 30) * ((100vw - 360px) / (1600 - 360)));
  font-weight: 600;
}

/**/
#tabs .tabContent {   
  margin: auto;
  width: calc(360px + (800 - 360) * ((100vw - 360px) / (1600 - 360)));
  /*height: 790px;*/  
  background-color: #C6C6C6;
  border: 2px solid #E9E9E9;
  border-radius: 20px;
  box-shadow: 4px 4px 5px rgba(0,0,0,0.5);  
    
  position: relative;
  top: -2px;
  z-index: 1;
}
#tabs .hide {
  display: none;
}
#tabs .show {
  display: block;
}

.subtitle {
  font-size: calc(24px + (24 - 16) * ((100vw - 360px) / (1600 - 360))); 
  font-weight: 600;
  margin-top: calc(15px + (30 - 15) * ((100vw - 360px) / (1600 - 360)));
}
.source {  
  display: flex;
  margin-left: calc(20px + (100 - 20) * ((100vw - 360px) / (1600 - 360)));
  margin-top: calc(20px + (40 - 20) * ((100vw - 360px) / (1600 - 360)));  
  letter-spacing: normal;
  text-decoration-line: underline;
}
.inner {
  margin-left: calc(20px + (100 - 20) * ((100vw - 360px) / (1600 - 360)));
  margin-top: calc(15px + (20 - 15) * ((100vw - 360px) / (1600 - 360)));
  float: left;
}
.sign {
  display: flex;
  font-size: calc(14px + (24 - 14) * ((100vw - 360px) / (1600 - 360))); 
  padding-top: 10px;
}
button {
  margin-top: 75px;
  width: calc(160px + (230 - 160) * ((100vw - 360px) / (1600 - 360)));
  height: calc(45px + (70 - 45) * ((100vw - 360px) / (1600 - 360)));
  border-radius: 35px;
  font-size: calc(20px + (24 - 20) * ((100vw - 360px) / (1600 - 360)));
  background-color: #3E99DB;
  color: aliceblue;
  border-color: #E9E9E9;
  border: 1px solid;
  box-shadow: 4px 4px 5px rgba(0,0,0,0.5);   
  
  cursor: pointer;
}
button:hover {
  background-color: #54a2db;
}
button:hover:focus {
  box-shadow: none;
}

.description {
  display: flex;
  margin-left: calc(20px + (100 - 20) * ((100vw - 360px) / (1600 - 360)));
  margin-top: 30px;
  font-size: 20px;
}
.result {
  margin-left: calc(20px + (100 - 20) * ((100vw - 360px) / (1600 - 360)));
  margin-right: calc(20px + (100 - 20) * ((100vw - 360px) / (1600 - 360)));
  margin-top: 20px;
  margin-bottom: calc(20px + (100 - 20) * ((100vw - 360px) / (1600 - 360)));
  height: calc(100px + (160 - 100) * ((100vw - 360px) / (1600 - 360)));
  background-color: #BDD9ED;
  border: 2px solid;
  border-radius: calc(30px + (50 - 30) * ((100vw - 360px) / (1600 - 360)));
  border-color: #E9E9E9;
  box-shadow: inset 4px 4px 5px rgba(0,0,0,0.5);  
  
  /*Для выравнивания по центру входящих в result элементов*/
  display: flex;
  align-items: center;
}
#a, #b, #d, #h, #aa {
  font-size: calc(18px + (24 - 18) * ((100vw - 360px) / (1600 - 360)));
  width: 70px;
  padding: 5px 10px;
  margin-top: -8px;
  background-color: #BDD9ED;
  border: 2px solid;
  border-radius: 10px;
  border-color: #E9E9E9;
  box-shadow: inset 4px 4px 5px rgba(0,0,0,0.5);  
}
img {
  /*float: right;*/  
  /*margin-right: calc(20px + (100 - 20) * ((100vw - 360px) / (1600 - 320)));*/
  margin-top: -10px;
  height: calc(100px + (180 - 100) * ((100vw - 360px) / (1600 - 360)));
  
}
.res {
  margin-left: calc(30px + (50 - 30) * ((100vw - 360px) / (1600 - 360)));
}
/*@media (max-width: 991px) {

}*/
